<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a post</title>
</head>
<body>
<h1>Add your new post</h1>
<form action="/XYZ" method="post">
    <label for="author">Name:</label><br>
    <input type="text" id="author" name="author" required><br>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br>
    <label for="content">Content:</label><br>
    <textarea id="content" name="content" required></textarea><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>